target/
.settings
.classpath
.project
.idea/
*.iml
*.log
build/
costosys.xml
gepi-indexing-pipeline/lib
gepi-indexing-pipeline/resources
gepi-indexing-pipeline/config/jcore-pipeline-config.jar
missing_configuration.txt
