<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>gepi-webapp.log</file>
		<append>false</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="de.julielab.elastic.query.components.data.ElasticServerResponse" level="INFO"/>
	<logger
		name="de.julielab.elastic.query.services.ElasticQueryComponentsModule.ISearchServerComponent"
		level="TRACE" />
	<logger name="de.julielab" level="INFO" />
	<logger name="de.julielab.gepi.webapp.pages.Index" level="DEBUG"/>
	<logger name="de.julielab.gepi.webapp.components.GepiInput" level="DEBUG"/>
<!--	<logger name="de.julielab.gepi.webapp.state.GePiSessionStateCreator" level="TRACE"/>-->
<!--	<logger name="de.julielab.gepi.webapp.state.GePiSessionState" level="TRACE"/>-->
<!--	<logger name="de.julielab.gepi.core.services.GepiCoreModule.IEventResponseProcessingService" level="TRACE"/>-->
<!--	<logger name="de.julielab.gepi.core.services.GepiCoreModule.IEventRetrievalService" level="TRACE"/>-->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
<!--		<appender-ref ref="FILE" />-->
	</root>
</configuration>