#eventtypediv > div > div {
    display: inline-block;
    margin:0px 0px 0px 30px;
    width:150px;
}

#listacontainer > textarea, #listbcontainer > textarea {
    height: 350px;
}


#handle {
    position: absolute;
    top: 42px;
    left: 100%;
    background-color:black;
    width: 10px;
    height: 40px;
}

hr.nomargin {
    margin: 0;
}

hr.thin.bottom {
    margin-bottom: 5px;
}

hr.thin.top {
    margin-top: 5px;
}

hr.medium.bottom {
    margin-bottom: 10px;
}

hr.medium.top {
    margin-top: 10px;
}