#eventtypes div {
    display: inline-block;
    margin:5px 15px 5px 10px;
    width:150px;
}

#lista, #listb {
    height: 400px;
}

#sentencefilter {
    width: 100%;
}

#handle {
    position: absolute;
    top: 42px;
    left: 100%;
    background-color:black;
    width: 10px;
    height: 40px;
}