.full-height {
    height: 100%;
}

.chart.area {
    width: 100%;
    display: inline-block;
}

.float-right {
	float: right;
}

.panel-heading > a {
	color: black;
}

.widget-resize-full {
	cursor: pointer;
    background-image: url("../images/open_in_full_black_24dp.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.widget-tool-symbol {
    width: 24px;
    height: 24px;
}

.widget {
   -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	overflow: hidden;
}

.chart {
   -webkit-transition: all 5s ease;
	-moz-transition: all 5s ease;
	-o-transition: all 5s ease;
	transition: all 5s ease;
	
}

.widget.overview {
    min-height: 25rem;
}

.widget.large {
	position: fixed;
	top: 70px;
	left: 15px;
	width: calc(100% - 30px);
	/* One above #widgetOverlay in index.tml/index.less */
	z-index: 11;
}

.widget.large .panel-body {
	height: calc(100vh - 126px);
	/* One above #widgetOverlay in index.tml/index.less */
	z-index: 11;
	overflow-y: auto;
}

.widget-small.panel-body {
    height: 230px;
    overflow: hidden;
}

.widget-large.panel-body {
 /*   height: 440px;*/
}

.shine
{
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;
    
    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    
    -webkit-animation-name: shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}

@-webkit-keyframes highlight
{
    20%
    {
        color: #9d9d9d;
    }
    50% {
        color: gold;
    }
    80%
    {
        color: #9d9d9d;
    }
}