#eventtypediv > div > div {
    display: inline-block;
    margin:0px 0px 0px 30px;
    width:150px;
}

/* Note media query below */
#eventtypediv > div > div > .checkbox {
    margin-top: 0;
}

/* Note media query below */
#listacontainer > textarea, #listbcontainer > textarea {
    height: 250px;
}

/* To fully display the input column, we need a viewport of approx. 830px. Below that we compress everything a little, see above. */
@media screen and (min-height: 830px) {
    #eventtypediv > div > div > .checkbox {
        /* This is actually the default value we suppress for smaller heights */
        margin-top: 10px;
    }
    #listacontainer > textarea, #listbcontainer > textarea {
        height: 350px;
    }
}


hr.nomargin {
    margin: 0;
}

hr.thin.bottom {
    margin-bottom: 5px;
}

hr.thin.top {
    margin-top: 5px;
}

hr.medium.bottom {
    margin-bottom: 10px;
}

hr.medium.top {
    margin-top: 10px;
}