.float-right {
	float: right;
}

.panel-heading > a {
	color: black;
}

.glyphicon-resize-full {
	cursor: pointer;
}

.widget {
   -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/*
@keyframe move {
	100% {
		position: fixed;
	}
}*/


.widget.large {
	position: fixed;
	top: 70px;
	left: 15px;
	width: calc(100% - 30px);
	height: calc(100vh - 85px);
	z-index: 10;
}