.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.chart-area {
    display: flex;
    align-items: center;
}

.chart-area svg {
    margin: 0 auto;
}

.float-right {
	float: right;
}

.panel-heading > a {
	color: black;
}

.widget-resize-to-full {
	cursor: pointer;
    background-image: url("../images/open_in_full_black_24dp.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.widget-download {
    cursor: pointer;
    background-image: url("../images/file_download_black_24dp.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.widget-resize-to-small {
	cursor: pointer;
    background-image: url("../images/close_fullscreen_black_24dp.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.widget-tool-symbol {
    width: 24px;
    height: 24px;
}


.widget.small.card {
    /*min-height: 400px;*/
}

.widget.small.card-body {
    min-height: 300px;
   /* padding-top: 10px;*/
    overflow: hidden;
}

.widget.large.card {
	position: fixed;
	/*top: 70px;*/
	left: 15px;
	width: calc(100% - 30px);
    height: calc(100vh - 88px);
	/* One above #widgetOverlay in index.tml/index.css */
	z-index: 11;
}

.widget.large .card-body {
	/* One above #widgetOverlay in index.tml/index.css */
	z-index: 11;
	overflow-y: auto;
}

.shine
{
    width: 400px;
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;
    
    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    
    -webkit-animation-name: shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}

@-webkit-keyframes highlight
{
    20%
    {
        color: #9d9d9d;
    }
    50% {
        color: gold;
    }
    80%
    {
        color: #9d9d9d;
    }
}