body {
    padding-top: 70px;
}

#resetlink {
    padding-right: 24px;
    background-image: url("../images/settings_backup_restore_gray_24dp.svg");
    background-repeat: no-repeat;
    background-position: center right;
    transition: none;
}

#resetlink:hover {
    background-image: url("../images/settings_backup_restore_light_gray_24dp.svg");
}