body {
    padding-top: 70px;
}

#resetlink {
    padding-right: 24px;
    background-image: url("../images/settings_backup_restore_gray_24dp.svg");
    background-repeat: no-repeat;
    background-position: center right;
    transition: none;
}

#resetlink:hover {
    background-image: url("../images/settings_backup_restore_light_gray_24dp.svg");
}

.widget-tool-symbol {
    width: 24px;
    height: 24px;
    vertical-align: super;
}

.info {
    background-image: url("../images/help_outline_black_24dp.svg");
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
