.piechartcanvas {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

#piechartscontent {
    flex-grow: 1;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

path.slice{
   stroke-width: 1px;
   stroke:  white;
}

polyline.callout {
    stroke-width: 2px;
}

text.percentage {
    pointer-events: none;
}

#numgeneinput-pie {
    width: 3.3rem;
}