select {
    width: auto !important;
}

#tableresult_widget .card-body {
    overflow: scroll;
}

#tableresult_widget table thead tr :last-child {
    /* this is the header cell of the context column; this should get too narrow to read */
    min-width: 500px;
}

#tableresult_widget table 

.hl-trigger {
    background-color: #ff9c9c;
}

.hl-filter {
    background-color: #4cabe6;
}

.hl-like1 {
    background-color: #E020FA;
}

.hl-like2 {
    background-color: #E020FA;
}

.hl-like3 {
    background-color: #E020FA;
}

.hl-like4 {
    background-color: #E020FA;
}

.hl-like5 {
    background-color: #E020FA;
}

.symbol-background {
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.info-paragraph-match {
    background-image: url("../images/filter_alt_black_24dp.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    display: inline-block;
    width: 20px;
    margin-right: 0.25rem;
    margin-left:  -1.55rem;
}

.info-interaction-sentence {
    background-image: url("../images/segment_black_24dp.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    display: inline-block;
    width: 20px;
    margin-right: 0.25rem;
    margin-left:  -1.55rem;
}

.star-empty {
    background-image: url("../images/star_outline_black_24dp.svg");
    background-size: 16px;
    width: 16px;
}

.star-half {
    background-image: url("../images/star_half_black_24dp.svg");   
    background-size: 16px;
    width: 16px;
}

.star-full {
    background-image: url("../images/star_black_24dp.svg");      
    background-size: 16px;
    width: 16px;
}