<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- If this file is specified, the current log will be written here. Only 
			at rollover time, the fileNamePattern is applied. -->
		<file>../log/jpp-genes-and-relations.${HOSTNAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>../log-archive/jpp-genes-and-relations.${HOSTNAME}.%d{yyyy-MM-dd}.log
			</fileNamePattern>

			<!-- keep 14 days' worth of history -->
			<maxHistory>14</maxHistory>
		</rollingPolicy>

		<append>true</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- IMPORTANT!!! JREX Logging is NOT done with logback/slf4j but play log4j; 
		logging configuration is done in log4j.properties -->

	<!-- <logger name="de.julielab.jules.ae.genemapper.GeneMapper" level="DEBUG" 
		/> -->
	<!-- <logger name="de.julielab.jules.ae.genemapper.disambig.org.MeshtermOrganismFinder" 
		level="DEBUG" /> -->
	<logger name="de.julielab.jules.cpe.DBStatusCallbackListener"
		level="INFO" />
	<logger name="de.julielab.jules.ae.LikelihoodDetection" level="INFO" />
	<logger name="de.julielab.jules.ae.LikelihoodAssignment" level="ERROR" />
	<logger name="de.julielab.jules.ae.BioSemEventAnnotator" level="INFO" />
	<logger name="utils.DBUtils" level="INFO" />
<!-- 	 <logger name="de.julielab.jules.consumer.CasToXmiDBConsumer" level="TRACE"/> -->
<!-- <logger name="de.julielab.jules.reader.DBCasXmiReader" level="TRACE" /> -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
