body.noScroll {
	overflow: hidden;
}

#resultResizeHandle {
	float: right;
	transform: rotate(90deg) scale(1.1);
	cursor: pointer;
}

#inputcol {
	-webkit-transition: margin 1s ease;
	-moz-transition: margin 1s ease;
	-o-transition: margin 1s ease;
	transition: margin 1s ease;
	width: calc(100% / 3);
	position: absolute;
	z-index: 1;
}

#inputcol.center {
	margin-left: calc(100% / 3);
	margin-right: calc(100% / 3);
}

#outputcol.in {
	opacity: 1;
        transition-delay: 0s;
        transition-duration:0.5s;
        transition-timing-function: linear;
}

.fade {
	opacity: 0;
}

.in {
	opacity: 1;
}

#widgetOverlay {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: ~"calc(100vh - 50px)";
	background-color: #ffffff;
	z-index: 10;
	pointer-events: none;
}
