body.noScroll {
	overflow: hidden;
}

#resultResizeHandle {
	float: right;
	transform: rotate(90deg) scale(1.1);
	cursor: pointer;
}

#inputrow {
    position: absolute;
    width: 100%;
}

#inputfetcharea {
    position: absolute;
    left: 0;
    width: 200px;
    height: calc(100vh - 100px);
    border: 1px solid;
    z-index: 9;
}

#inputcol {
    --inputcol-z-index: 10;
    position: relative;
    margin-left: 33%;
    width: 33%;
    transition-property: margin-left;
    transition-duration: .5s;
    z-index: var(--inputcol-z-index);
}

#disableplane.fade.show {
    background-color: #000000;
    opacity: .4;
    z-index: 9;
    position: fixed;
    width: 100%;
    height: ~"calc(100vh - 50px)";
    top: 50px;
    left: 0;
}


#widgetOverlay {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: ~"calc(100vh - 50px)";
	background-color: #ffffff;
	z-index: 10;
	pointer-events: none;
}

#inputToggleButton.disabled,
#inputToggleButton.disabled:hover {
    color: #5a5a5a;
    cursor: auto;
}
