#resultResizeHandle {
	float: right;
	transform: rotate(90deg) scale(1.1);
	cursor: pointer;
}

#inputcol {
	-webkit-transition: margin 1s ease;
	-moz-transition: margin 1s ease;
	-o-transition: margin 1s ease;
	transition: margin 1s ease;
	width: calc(100% / 3);
	position: absolute;
}

#inputcol.center {
	margin-left: calc(100% / 3);
	margin-right: calc(100% / 3);
}

#outputcol {
	-webkit-transition: opacity 1s linear 1s;
	-moz-transition: opacity 1s linear 1s;
	-o-transition: opacity 1s linear 1s;
	transition: opacity 1s linear 1s;
}

.padding {
	padding-left: 30px;
}

#outputcol.growing {
	float: right;
}

.fade {
	opacity: 0;
}

.in {
	opacity: 1;
}

